*{
    margin:0;
    padding: 0;
}
.navigation{
  margin-top:7px;
/*height:74px;
background-color:aquamarine;*/
display: flex;
justify-content: space-between;
align-items: center;
font-family: var(--font1);
}
.nav-left{
font-size: 35px;
display: flex;
}
.nav-left span{
  font-size: 35px;
  padding-top: 10px;
}
.nav-left ul{
display: flex;
align-items: center;
margin: 0 74px;
font-size: 22px;
padding-bottom: 5px;
}
.nav-left ul li{
list-style: none;
display: flex;
margin: 0 14px;
font-family: var(--font2);
transition: all 0.5s ease-in-out;
}
.nav-left ul li a:hover{
  color: var(--main-bg-color);
  font-weight: bolder;
}
.nav-left ul li a{
  text-decoration: none;
  color: black;
}
/*.nav-right{

}*/
.content{
  display: flex;
  height: 100%;
  background-color: rgb(247, 242, 242);
  margin-top: -3px;
  padding: 9px;
  position: relative;
  border-radius: 12px;
 }
.content::after{
  content: "";
    background-image: url(../img/b9.jpg);
    background-position: center;
    position: absolute;
    width: 1161px;
    height: 291px;
    opacity: 0.18;
    background-repeat: no-repeat;
    background-size: 669px;
   
}
.content-left{
font-family: var(--font1);
font-weight: 500;
display: flex;
flex-direction: column;
justify-content: center;
padding: 23px;
z-index: 1;
word-spacing: 2pt;
}
.content-right{
   display: flex;
  align-items: center;
   justify-content: center;
  
}
.content-right img{
  border-radius:7000px;
  height:280px;
  border: 2px solid black;
  
 }
 .home-articles{
  padding: 10px;
  margin-top: -2px;
  background-color: rgb(248, 239, 239,0.5);
  border-radius: 12px;
  position: relative;
  
 }
 .year-box{
  position: absolute;
    right:0px;
    top: 74px;
    width: 234px;
    height: 255px;
    font-size: 18px;
}
 .year-box div{
  margin:12px 0px;
 }
 .home-article{
  margin: 25px;
  display:flex;
 }
 .home-article img{
  border-radius: 15px;
  width:300px;
 }
 .home-article-content{
  align-items: center;
  padding: 25px;
 }
 .home-article-content a{
  text-decoration: none;
  color: var(--main-bg-color);
 }
.footer{
  height: 50px;
  background-color:var(--main-bg-color);
  display:flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}
.footer a{
  color: white;
}
